.cxx
.DS_Store
.externalNativeBuild
.gradle
*.iml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/codeStyles/
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
module/classes.dex
module/lib/
module/service.apk
out/
